*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Lobster', cursive;
}
body{
    background-image: url('img/bck.jpg');
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.logo_img{
    display:block;
    width: 250px;
    height: 250px;
    margin:0px auto 0px auto;
}
.viber-img{
    display:inline-block;
    width: 49px;
    height: 52px;
    margin:3% auto auto auto;
}
.menu-img{
    display:inline-block;
    width: 52px;
    height: 52px;
    margin:3% auto auto auto;
}
.window{
    width:305px;
    max-width: 400px;
    position:relative;
    margin:10px 20px;
}
button{
    background-color:black;
    background-image: url('img/texture1.png');
    background-blend-mode: screen;
    margin:15px auto 0px auto;
    font-size:130%;
    width: 305px;
    height:auto;
    padding: 5px;
    color:goldenrod;
    box-shadow:1px 1px 10px 2px #181818;
    border:1px solid #181818;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}